/* CSS Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Color Variables */
:root
{
    /* 2.1 Dark theme color variables */
    --bg0-dark:       #000000;
    --bg1-dark:       #272f34;
    --bg-dark:        #1f1f1f;
    --bg2-dark:       #444444;
    --bg3-dark:       #535353;
    --bg4-dark:       #585858;
    --bg5-dark:       #5f5f5f;
    --bg_visual:      #503946;
    --bg_red:         #4e3e43;
    --bg_green:       #404d44;
    --bg_blue:        #394f5a;
    --bg_yellow:      #4a4940;
    --shadow:         #00000070;

    --fg-dark:        #d3c6aa;
    --grey0-dark:     #7f897d;
    --grey1-dark:     #859289;
    --grey2-dark:     #9aa79d;

    --faded-red:     #e67e80;
    --faded-orange:  #e69875;
    --faded-yellow:  #dbbc7f;
    --faded-green:   #a7c080;
    --faded-aqua:    #83c092;
    --faded-blue:    #7fbbb3;
    --faded-purple:  #d699b6;

    --dim-red:       #d37170;
    --dim-orange:    #d77f48;
    --dim-yellow:    #bf983d;
    --dim-green:     #899c40;
    --dim-aqua:      #569d79;
    --dim-blue:      #5a93a2;
    --dim-purple:    #b87b9d;


    /* 2.2 Light theme color variables */
    --bg0-light:     #f0edd8;
    --bg1-light:     #f6f1dd;
    --bg-light:      #fdf6e3;
    --bg2-light:     #f3efda;
    --bg3-light:     #edead5;
    --bg4-light:     #e4e1cd;
    --bg5-light:     #dfdbc8;
    --grey0-light:   #a4ad9e;
    --grey1-light:   #939f91;
    --grey2-light:   #879686;
    --shadow-light:  #3c474d20;


    --bg_visual_light:      #eaedc8;
    --bg_red_light:         #fbe3da;
    --bg_green_light:       #f0f1d2;
    --bg_blue_light:        #e9f0e9;
    --bg_yellow_light:      #faedcd;

    --fg-light:       #5c6a72;
    
    --light-red:     #f85552;
    --light-orange:  #f57d26;
    --light-yellow:  #bf983d;
    --light-green:   #899c40;
    --light-aqua:    #569d79;
    --light-blue:    #5a93a2;
    --light-purple:  #b87b9d;

    --light-dim-red:    #f1706f;
    --light-dim-orange: #f39459;
    --light-dim-yellow: #e4b649;
    --light-dim-green:  #a4bb4a;
    --light-dim-aqua:   #6ec398;
    --light-dim-blue:   #6cb3c6;
    --light-dim-purple: #e092be;
}

/* Base Typography */
body {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    -webkit-font-smoothing: auto;
/*    font-size: var(--base-font-size);
    line-height: var(--line-height);
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: var(--content-padding);
    max-width: var(--content-max-width);
    margin: 0 auto;
    transition: background-color 0.3s ease, color 0.3s ease;
*/
};
